.container {
  display: grid;
  place-items: center;
}
.card {
  min-height: 68vh;
  width: 70%;
  padding: 20px;
  margin: 20px;
}

.cardSvg {
  width: 120%;
}
.cardFilter {
  display: flex;
  justify-content: space-between;
}
